@model insuranceApp1.Models.Claim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Claim_Layout.cshtml";
}

<h1>Claim Details</h1>
<h3>Welcome , @ViewBag.UserName</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SettlementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SettlementDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClaimId">ProcessClaim</a> |
    <a asp-action="Index">Back to List</a>
</div>